html, body {
	background-color: #F1BBBA;
	height: 100%;
}

div.margin-top {
	margin-top: 50px !important;
}

.logo {
	margin-bottom: 30px;
}

.content {
	background-color: #FFF;
}

hr {
    border-top: 1px solid #6B5344;
	margin-bottom: 30px !important;
}

.input-margin {
	margin-bottom: 10px;
}

.fullwidth {
	width: 100% !important;
}

.fullpage {
	height: auto;
	min-height: 100%;
}

.fullheight {
	height: 100%;
}


input[type="checkbox"],
.google-checkbox .checked {
  display: none;
}

input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.checkbox label {
    padding-left: 0 !important;
}

.dashboard-box {
    border: 1.5px solid #6B5344;
    border-radius: 5px;
    margin: 0px -10px 30px -10px;
    padding: 10px 15px 10px 15px;
}

.caixasaldo {
	border: 1.5px solid #6B5344;
    border-radius: 5px;
    margin: 0px 10px 30px -5px;
    height: 36px;

}

.dashboard-icon {
    font-size: 40px;
    opacity: 0.4;
    color: #6B5344;
}

/* Muda a cor dos place holders*/

::-webkit-input-placeholder  { color:#6B5344 !important; }
input:-moz-placeholder { color:#6B5344 !important; }
textarea:-moz-placeholder { color:#6B5344 !important; }